<%- include('header') -%>

<div class="max-w-md mx-auto bg-white p-6 rounded-md shadow-md ">
  <h1 class="text-2xl font-bold mb-4">Ajouter un Utilisateur</h1>

  <!-- Formulaire d'ajout d'utilisateur -->
  <form method="post" action="/add-user" class="space-y-4">
    <div>
      <label class="block text-sm font-semibold text-gray-600">Nom</label>
      <input type="text" name="nom" class="w-full mt-1 p-2 border rounded-md">
    </div>

    <div>
      <label class="block text-sm font-semibold text-gray-600">Prénom</label>
      <input type="text" name="prenom" class="w-full mt-1 p-2 border rounded-md">
    </div>

    <div>
      <label class="block text-sm font-semibold text-gray-600">Photo (lien)</label>
      <input type="text" name="photo" class="w-full mt-1 p-2 border rounded-md">
    </div>

    <div>
      <label class="block text-sm font-semibold text-gray-600">Date d'Inscription</label>
      <input type="text" name="dateInscription" class="w-full mt-1 p-2 border rounded-md">
    </div>

    <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600">
      Ajouter Utilisateur
    </button>
  </form>
</div>

<%- include('footer') -%>
